@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #FFF;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color--light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;


    --card-border-radius: 32px;
    --border-radius-1: 6px;
    --border-radius-2: 13px;
    --border-radius-3: 20px;

    --card-padding: 27px;
    --padding-1: 20px;

    --box-shadow: 0 32px 48px var(--color-light);
    /** Background colors */
    --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --bg-carolina-blue: hsla(199, 89%, 49%, 1);
    --bg-prussian-blue: hsla(216, 33%, 20%, 1);
    --bg-oxford-blue: hsla(222, 44%, 13%, 1);
    --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
  
    /** Text colors */
    --text-white: hsla(0, 0%, 100%, 1);
    --text-alice-blue: hsla(216, 100%, 95%, 1);
    --text-columbia-blue: hsla(199, 69%, 84%, 1);
    --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --text-carolina-blue: hsla(199, 89%, 49%, 1);
    --text-shadow-blue: hsla(217, 24%, 59%, 1);
    --text-slate-gray: hsla(217, 17%, 48%, 1);
  
    /** Gradient colors */
    --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
    --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    --gradient-3: linear-gradient(0deg, #000d1a, transparent);
  
    /** Border colors */
    --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --border-prussian-blue: hsla(216, 33%, 20%, 1);
    --border-white: hsl(0, 0%, 100%);
    --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);
  
    /** Default colors */
    --white: hsl(0, 0%, 100%, 1);
    --black: hsl(0, 0%, 0%, 1);
  
    /**
     * TYPOGRAPHY
     */
  
    /** Font family */
    --fontFamily-noto_sans: 'Noto Sans', sans-serif;
  
    /** Font size */
    --fontSize-1: 2.9rem;
    --fontSize-2: 2.0rem;
    --fontSize-3: 1.8rem;
    --fontSize-4: 1.6rem;
    --fontSize-5: 1.5rem;
    --fontSize-6: 1.4rem;
    --fontSize-7: 1.2rem;
    --fontSize-8: 1.3rem;
  
    /** Font weight */
    --weight-medium: 500;
    --weight-semiBold: 600;
    --weight-bold: 700;
    --weight-extraBold: 800;
  
    /** Line height */
    --lineHeight-1: 1.3;
    --lineHeight-2: 1.5;
    --lineHeight-4: 1.5;
  
    /**
     * BOX SHADOW
     */
  
    --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
    --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
  
    /**
     * BORDER RADIUS
     */
  
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-48: 48px;
    --radius-circle: 50%;
    --radius-pill: 200px;
  
    /**
     * SPACING
     */
  
    --section-padding: 70px;
  
    /**
     * TRANSITION
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 14px;
    background-color: var(--bg-oxford-blue-2);
    color: var(--text-shadow-blue);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}
::-webkit-scrollbar { width: 5px; }
  
::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--bg-carolina-blue);
  border-radius: var(--radius-pill);
}
a {
    color: var(--color-dark);
}

img {
    width: 100%;
    display: block;
}
h1 {
    font-weight: 800;
    font-size: 29px;

}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 12px;
}

small {
    font-size: 12px;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: yellow;
}

.success {
    color: var(--color-success);
}
.warning {
    color: var(--color-warning);
}
.container
{
  margin: 0 15px;
}
.side
{
width: 230px;
left: 0;
top: 0;
border-right: 1px solid var(--bg-black-50);
height: 100%;
z-index: 10;
position: fixed;


}
.side .top {
    display: flex;
    margin-top: 23px;
    align-items: center;
    justify-content: center;
}

.side .logo {
    /* margin: auto; */
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
}
.logo h2 {
    font-size: 12px;
}

.side .logo img {
    width: 40px;
    height: 40px;
}
.side .close {
    display: none;
    
}
.side .sidebar {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;
    top: 10px;
}
.side h3 {
    font-weight: 500;
}

.side .sidebar a {
    display: flex;
    gap: 16px;
    margin-left: 32px;
    color: var(--color-info-dark);
    position: relative;
    height: 60px;
    align-items: center;
    transition: all .3s ease;
}

.side .sidebar a i {
    font-size: 22px;
    transition: all .3s ease;
}

.side .sidebar a:nth-child(11) {
    position: absolute;
    bottom: 35px;
    width: 100%;
}

.side .sidebar a.active {
    width: 100%;
    background-color: var(--color--light);
    color: var(--color-primary);
    margin-left: 0;
}

.side .sidebar a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--color-primary);
}

.side .sidebar a.active i {
    color: var(--color-primary);
    margin-left: calc(16px - 3px);
}

.side .sidebar a:hover {
    color: var(--color-primary);
}

.side .sidebar a:hover i {
    margin-left: 16px;
}

.side .sidebar .message-count {
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}
/* Start project*/
.section {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    z-index: 0;
    left: 230px;
    /* width: 100%; */
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.3s;
  }
  .content {
    margin-left: 230px;
    transition: all 1s ease;
  }
  .hold {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  @media (max-width: 1200px) {
    .container {
        width: 95%;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .section .hold {
        padding-top: 0;
      }
      .content {
        margin-left: 116px;
      }
      .side
      {
        width: 112px;
      }

    .side .logo h2 {
        display: none;
    }

    .side .sidebar h3 {
        display: none;
    }

    .side .sidebar a {
        width: 90px;
    }

    .side .sidebar a:last-child {
        position: relative;
        margin-top: 29px;
    }

    
    

}


/*=============================== Media  Query============================= */
@media(max-width:768px) {
    .container {
        width: 100%;
    }
    .home
    {
        grid-template-columns: 1fr; 
        gap: 0;
    }
    
    .content {
        margin-left: 0px;
      }
    .side {
        position: fixed;
        z-index: 3;
        left: -100%;
        background-color: var(--color-white);
        width: 288px;
        box-shadow: 16px 48px 64px var(--color--light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu .4s ease forwards;
    }
    @keyframes showMenu
    {
        to
        {
            left: 0;
        }
    }

    .side .logo {
        margin-left: 16px;
    }

    .side .logo h2 {
        display: inline;
    }

    .side .sidebar h3 {
        display: inline;
    }

    .side .sidebar a {
        width: 100%;
        height: 55px;
    }

    .side .sidebar a:last-child {
        position: absolute;
        bottom: 80px;
    }

    .side .close {
        display: inline-block;
        cursor: pointer;
    }

}
/* start project*/
.section-title
{
    flex: 0 0 90%;
    max-width: 90%;
    margin-bottom:40px
}
.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: #BAE1F2;
    position: relative;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 50px;
    top: 100%;
    left: 0;
    background-color: var(--color-primary);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 25px;
    top: 100%;
    left: 0;
    background-color: var(--color-primary);
    margin-top: 8px;
  }
  
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}


.group
{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.group .add button{
    width: 90px;
background-color: rgba(66, 66, 216, 0.637);
padding: 6px;
transition: 0.3s;
border-radius: 6px;
}
.group .add button:hover
{
    background-color: #4671ea;
}

.group .add button a
{
    color: white;
}


.insight .source
{
    width: 240px;
}
.down
{
    margin-bottom: 60px;
}
.insight
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
}
.insight .middel
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insight .left
{
    margin-left: 10px;
}
.insight .left h1
{
    color: #4671ea;
}
.insight .left p
{
    color: #777;
}
.insight .middel .tr i
{
    background-color: transparent;
    color: #777;
}
.insight .source {
    width: 240px;
}
.insight>div {
    position: relative;
 background-color: #131B30;
    padding: 15px;
    border-radius: 32px;
    margin-top: 16px;
    box-shadow: 0 32px 48px rgba(0,0,0,.3);
    transition: all .3s ease;
    width: 210px;
}
.insight .left h1 {
    color: #4671ea;
    font-weight: 800;
    font-size: 29px;
}
.insight .left p {
    color: #777;
}
.insight .middel .tr i {
    background-color: transparent;
    color: #777;
    font-size: 30px;
}
 /* ==================Start Charts================*/
 .graphBox
 {
    position: relative;

padding: 20px;
display: grid;
grid-template-columns: 1fr 2fr;
gap: 30px;
min-height: 200px;
}
.graphBox .box
{
    position: relative;
    background-color: #131B30;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0 0 0 /0.08);
    border-radius: 20px;
}
#earning{
width: 500px;
}

 /* ==================End Charts================*/

@media(max-width:1200px)
{
    .insight
    {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width:992px)
{
    .insight
    {
        grid-template-columns: repeat(2, 1fr);
    }
    #earning{
        width: 400px;
    }
    .insight .source
    {
        width: 315px;
       }
    .graphBox
    {
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:768px)
{
    .insight
    {
        grid-template-columns: 1fr;
    }
    .insight .source
    {
        width: 100%;
    }
    .graphBox
    {
        grid-template-columns: 1fr;
    }
    .group .add{
        margin-right: 75px;
    }
}
/*===============End section Report=============*/

@media(max-width:992px)
{
    .course-container
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:675px)
{
    .course-container
    {
        grid-template-columns: 1fr 1fr;
    }
    .group
    {
        margin-right: 75px;
    }
}
@media(max-width:475px)
{
    .course-container
    {
        grid-template-columns: 1fr ;
    }
    .group
    {
        margin-right: 75px;
    }
    .group h2
    {
        font-size: 16px;
    }
    .featuer .feat-box
    {
        width: 100%;
    }
    .section{
        padding-left: 0;
    }
    .graphBox{
        grid-template-columns: 1fr;
        padding: 20px 0;
    }
    .graphBox .box
    {
        width: 90%;
    }
    #myChart,
    #earning
    {
        width: 250px;
        text-align: center;
    }
}


/*======================End Section Projects===============*/
@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .section .hold {
        padding-top: 0;
      }
      .content {
        margin-left: 220px;
      }
      .side
      {
        width: 230px;
      }

    .side .logo h2 {
        display: none;
    }

    .side .sidebar h3 {
        display: block;
    }

    .side .sidebar a {
        width: 90px;
    }

    .side .sidebar a:last-child {
        position: relative;
        margin-top: 29px;
    }

    .main .insight {
        grid-template-columns: 1fr 1fr;
        gap: 10;
    }
    .insight>div{
        width: 100%;
    }
    

    
}

@media(max-width:992px)
{
    .main .insight{
        grid-template-columns:1fr 1fr;
        gap: 10px;
    }
    .content {
        margin-left: 116px;
      }
      .side
      {
        width: 116px;
      }

    .side .logo h2 {
        display: none;
    }

    .side .sidebar h3 {
        display: none;
    }

    .side .sidebar a {
        width: 90px;
    }

    .side .sidebar a:last-child {
        position: relative;
        margin-top: 29px;
    }

}

/*=============================== Media  Query============================= */
@media(max-width:768px) {
    .container {
        width: 100%;
    }
    .home
    {
        grid-template-columns: 1fr; 
        gap: 0;
    }
    
    .content {
        margin-left: 0px;
      }
    .side {
        position: fixed;
        z-index: 3;
        left: -100%;
        background-color: var(--color-white);
        width: 288px;
        box-shadow: 16px 48px 64px var(--color--light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu .4s ease forwards;
    }
    @keyframes showMenu
    {
        to
        {
            left: 0;
        }
    }

    .side .logo {
        margin-left: 16px;
    }

    .side .logo h2 {
        display: inline;
    }

    .side .sidebar h3 {
        display: inline;
    }

    .side .sidebar a {
        width: 100%;
        height: 55px;
    }

    .side .sidebar a:last-child {
        position: absolute;
        bottom: 80px;
    }

    .side .close {
        display: inline-block;
        cursor: pointer;
    }

    .main {
        margin-top: 128px;
        padding: 0 16px
    }
    .insight>div{
        width: 100%;
    }

    .main .recent-order {
        position: relative;
        margin: 48px 0 0 0;
        width: 100%;
    }

    .main .recent-order table {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 64px;

    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 13px;
        height: 74px;
        background-color: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 16px 16px var(--color-light);

    }

    .right .top .theme-toggler {
        width: 70px;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 16px;
    }

    .right .top button span {
        font-size: 32px;
    }
}
