* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 14px;
    background-color: hsla(222,47%,11% ,1);
    color: var(--text-shadow-blue);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar { width: 5px; }
  
::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: hsla(199, 89%, 49%, 1);
  border-radius: 200px;
}
.container
{
    width: 600px;
    height: auto;
    background: #131B30;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    position: relative;
    border: 1px solid hsla(216, 33%, 20%, 1);
    margin-top: 40px;
}
.tes,
form{
    margin-top: 15px;
    width: 90%;
    text-align: center;
}
 h3{
    color: #677483;
    font-size: 18px;
}
input{
    outline:none;

    width: 85%;
    height: 40px;
    padding: 5px;
    margin-left: auto;
    color: #363949;
    font-size: 20px;
    margin-top:20px ;
    margin-bottom:20px ;
text-align: start;
border-radius: 6px;

}

#btn
{
    border: 3px solid dimgrey;
    width: 150px;
    padding: 8px 5px;
   background-color: #7D91B0;
    color: #FFF;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 28px;
    text-align: center;
}
#btn:hover{
    background: none;
    color: #fff;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
